@use '../../utilities/responsive';

.hero {
    min-height: 100vh;
    background-image: url(/src/scss/assets/images/hero-bg.jpg);
    background-size: cover;
    position: relative;
    padding-top: 9rem;

    &__content {
        display: flex;
        gap: 4rem;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 50%);
    }
    
    &__title {
        background: linear-gradient(90deg, rgba(229,165,0,1) 0%, rgba(24,143,223,1) 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    &__desc,
    &__paragraph {
        color: var(--color-white);
        margin-bottom: var(--gap-content);
    }
    
    &__paragraph {
        color: var(--color-white-50);
    }
    
    &__buttons {
        display: flex;
        align-items: center;
        gap: var(--gap-content);
    }
    
    &__rightside {

        img {
            max-width: 375px;
        }
        
        .image__container {
            position: relative;
            
            .image__code,
            .image__ux {
                position: absolute;
                padding: 45px;
                border-radius: 100%;
                background-color: var(--color-blue-50);
            }
            
            .image__code {
                top: -40px;
                right: -20px;
            }
            
            .image__ux {
                bottom: -40px;
                left: -30px;
            }
        } 
    }
    
    .v-icon {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        
    }
    
    .v-icon { animation: bounce 2s infinite; }
    
    @keyframes bounce {
        0% {
            transform: translate(-50%, 0);
        }
        60% {
            transform: translate(-50%, -10px);
        }
    }
    
    
}

// Responsive

    @include responsive.max(1024px) {
        .hero__content {
            flex-wrap: wrap;
        }

        .hero__rightside {
            margin: 2rem 0;
        }
    }

    @include responsive.max(800px) {
        .hero__title {
            font-size: 60px;
        }
        
        .hero__desc {
            font-size: 30px;
        }
    }

    @include responsive.max(700px) {
        .hero__title {
            line-height: 1;
            padding-bottom: 2rem;
        }

        .hero__desc {
            font-size: 25px;
        }
    }
    
    @include responsive.max(550px) {
        
        .hero__rightside {
            img {
                width: 300px;
            }
        }
    }