@forward 'hero';

// Showcase

.showcase {

    p {
        border-left-color: var(--color-black-50);
        max-width: 750px;
    }

    &__cards {
        display: flex;
        gap: var(--gap-content);
    }

    .card {

        &__image {
            width: 700px;
        }
    }
}

// Projects 

.projects {
    background-color: var( --color-dark-blue);
    color: var(--color-white);

    &__inner {
        position: relative;
    }
    
    .section__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .swiper {
        position: relative;
        
        &-slide__image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            img {
                width: 100vw;
            }
        }
        
        &-slide__description {
            margin-top: var(--gap-large);

            .card__title {
                font-weight: 700;
            }
        }

        &-arrow-prev,
        &-arrow-next {
            position: absolute;
            top: 50%;
            z-index: 50;
            left: -60px;
        }

        &-arrow-next {
            left: auto;
            right: -60px;
        }
    }
}

// Clients

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--section-gap);
    margin-bottom: var(--section-gap);

    &__paragraph {
        max-width: 30rem;
        font-style: italic;
        line-height: var(--line-height);  
        margin-bottom: var(--gap-large);
    }

    &__container {
        border-left: 2px solid var(--color-black-50);
    }

    &__name {
        font-weight: 700;
    }

    &__title {
        font-size: var(--font-size-small);
    }

    img {
        display: flex;
        height: 155px;
    }
}