@forward 'hero';
@use '../../utilities/responsive';

.container {
    overflow: hidden;
}

// Showcase

.showcase {

    p {
        border-left-color: var(--color-black-50);
        max-width: 750px;
    }

    &__cards {
        display: flex;
        gap: var(--gap-content);
    }
}

// Projects 

.projects {
    background-color: var( --color-dark-blue);
    color: var(--color-white);
    overflow: hidden;
    padding: var(--section-padding) 0 9rem;

    &__inner {
        position: relative;
    }
    
    .section__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem 6rem;

        h2 {
            white-space: nowrap;
        }
    }
    
    .swiper {
        position: relative;
        
        &-slide__image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            img {
                width: 100vw;
            }
        }
        
        &-slide__description {
            margin-top: var(--gap-large);

            .card__title {
                font-weight: 700;
            }
        }

        // &-pagination {
        //     position: absolute;
        //     bottom: -50px;
        // }

        &-arrow-prev,
        &-arrow-next {
            position: absolute;
            top: 50%;
            z-index: 50;
            transform: translateX(-50%);
            left: 0;
        }

        &-arrow-next {
            left: auto;
            transform: translateX(50%);
            right: 0;
        }
    }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    bottom: -50px;
}

// Clients

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--section-gap);
    margin-bottom: var(--section-gap);
    &:last-of-type {
        margin-bottom: 0;
    }

    &__paragraph {
        max-width: 30rem;
        font-style: italic;
        line-height: var(--line-height);  
        margin-bottom: var(--gap-large);
    }

    &__flex {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__container {
        border-left: 2px solid var(--color-black-50);
        
            .client__name {
                font-weight: 700;
                font-size: var(--font-size-small);
            }
        
            .client__title {
                font-size: var(--font-size-small);
            }
        
            img {
                display: flex;
            }
        }

        .client__image--small {

            img {
                display: none;
            }
        }
}

@include responsive.max(1024px) {

    .showcase__cards {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    
    .swiper-arrow-prev,
    .swiper-arrow-next {
        display: none;
    }

}


@include responsive.max(600px) {

    .client {
        margin-bottom: 3rem;
    }
}

@include responsive.max(550px) {

    .client {

        &__image {
            display: none;
        }
    }

    .client .client__image--small img {
        display: block;
        max-width: 60px;
    }

    .projects {

        .section__header {
            flex-wrap: wrap;
        }
    }
}