:root {
  --font-headings: "Futura-PT", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-size: 18px;
  --line-height: 1.6;
  --font-scale: 1.333;
  --font-size-small: calc(var(--font-size-1) / var(--font-scale));
  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
  --color-white: #FFF;
  --color-black: #222;
  --color-white-50: rgba(255 255 255 / 50%);
  --color-black-50: rgba(34 34 34 / 50%);
  --color-blue-50: rgba(79 94 117 / 50%);
  --color-light-blue: #4F5E75;
  --color-dark-blue: #2E3142;
  --color-navy-blue: #011A39;
  --color-deep-blue: #01132B;
  --color-blackish-blue: #0C0F18;
  --color-accent-blue: #188FDF;
  --color-accent-orange: #E5A500;
  --border-radius-small: 5px;
  --border-radius-medium: 50px;
  --border-radius-large: 100%;
  --padding-content: 2rem;
  --section-padding: 9rem;
  --section-gap: 5rem;
  --section-gap-inner: 4.5rem;
  --gap-content: 2rem;
  --gap-large: 1rem;
  --gap-small: 0.75rem;
  --full-width: 90rem;
  --grid-width: 86rem;
  --inner-width: 75rem;
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr) [full-end];
}

html, body {
  font-family: var(--font-sans);
  font-size: var(--font-size);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: var(--font-headings);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
  margin-bottom: 1rem;
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 500;
}

p {
  font-family: "Inter", sans-serif;
  line-height: var(--line-height);
  margin: 0;
  padding-left: 1rem;
  border-left: 2px solid var(--color-white-50);
}

blockquote {
  line-height: var(--line-height);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  line-height: var(--line-height);
  list-style: none;
  margin: 0;
  padding: 0;
}

.dot {
  color: var(--color-accent-orange);
}

.button {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  padding: 0.5rem 1.5rem;
  gap: 10px;
  background-color: var(--color-accent-blue);
  border-radius: var(--border-radius-medium);
}

.icon__item a {
  display: flex;
}
.icon__list {
  display: flex;
  gap: var(--gap-large);
}

.mail-icon,
.arrow-icon {
  display: flex;
}

.projects .button__container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.projects .button {
  display: inline-block;
}

textarea, input:not([type=submit], [type=checkbox], [type=radio]) {
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-secondary-400);
  border-radius: var(--border-radius);
  background-color: var(--color-primary-100);
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  margin-bottom: var(--gap-large);
  width: 100%;
}

input[type=submit] {
  background-color: var(--color-accent-400);
  color: var(--color-primary-400);
  padding: 1rem 2rem;
  font-family: var(--font-sans);
  text-decoration: none;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
}

.site-header {
  background-color: var(--color-blackish-blue);
  color: var(--color-white);
  height: 100vh;
}

.site-footer {
  padding: var(--section-padding) 32px var(--section-padding) 32px;
  background-color: var(--color-blackish-blue);
  color: var(--color-white);
}
.site-footer .hero__buttons {
  display: inline-block;
}

.hero,
.showcase,
.projects,
.stack {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: var(--section-padding) 0;
}

.hero__inner,
.showcase__inner,
.projects__inner,
.stack__inner {
  grid-column: inner;
}

.site-header__navigation {
  background-color: var(--color-blackish-blue);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 32px;
  z-index: 99;
}

.menu__item:hover, .menu__item--current {
  border-bottom: 2px solid var(--color-accent-orange);
}
.menu__list, .menu__container {
  display: flex;
  gap: 3rem;
}
.menu__container {
  gap: 5rem;
  align-items: center;
}

.hero__content {
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60%);
}
.hero__title {
  background: linear-gradient(90deg, rgb(229, 165, 0) 0%, rgb(24, 143, 223) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__desc, .hero__paragraph {
  margin-bottom: var(--gap-content);
}
.hero__paragraph {
  color: var(--color-white-50);
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: var(--gap-content);
}
.hero__rightside {
  padding-right: 32px;
}
.hero__rightside img {
  max-width: 375px;
}
.hero__rightside .image__container {
  position: relative;
}
.hero__rightside .image__container .image__code,
.hero__rightside .image__container .image__ux {
  position: absolute;
  padding: 45px;
  border-radius: 100%;
  background-color: var(--color-blue-50);
}
.hero__rightside .image__container .image__code {
  top: -40px;
  right: -30px;
}
.hero__rightside .image__container .image__ux {
  bottom: -40px;
  left: -50px;
}
.hero .v-icon {
  display: flex;
  justify-content: center;
}
.hero .v-icon {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.showcase p {
  border-left-color: var(--color-black-50);
  margin-bottom: var(--section-gap-inner);
  max-width: 1000px;
}
.showcase__cards {
  display: flex;
  gap: var(--gap-content);
}
.showcase .card__image {
  width: 700px;
}

.stack,
.projects {
  background-color: var(--color-light-blue);
  color: var(--color-white);
}

/*# sourceMappingURL=style.css.map */
