:root {
  --font-headings: "futura-pt-bold", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size-small: calc(var(--font-size-1) / var(--font-scale));
  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
  --color-white: #FFF;
  --color-black: #222;
  --color-white-50: rgba(255 255 255 / 50%);
  --color-black-50: rgba(34 34 34 / 50%);
  --color-blue-50: rgba(79 94 117 / 50%);
  --color-light-blue: #4F5E75;
  --color-dark-blue: #2E3142;
  --color-navy-blue: #011A39;
  --color-deep-blue: #01132B;
  --color-blackish-blue: #0C0F18;
  --color-accent-blue: #188FDF;
  --color-accent-orange: #E5A500;
  --border-radius-small: 5px;
  --border-radius-medium: 50px;
  --border-radius-large: 100%;
  --padding-content: 2rem;
  --section-padding: 9rem;
  --section-gap: 5rem;
  --section-gap-inner: 4.5rem;
  --gap-content: 2rem;
  --gap-large: 1rem;
  --gap-small: 0.75rem;
  --full-width: 90rem;
  --grid-width: 86rem;
  --inner-width: 75rem;
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr) [full-end];
}
@media screen and (max-width: 600px) {
  :root {
    --section-padding: 6rem;
  }
}

html, body {
  font-family: var(--font-sans);
  font-size: var(--font-size);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: var(--font-size-5);
  font-weight: 900;
}

:has(+ p) {
  margin-bottom: 1rem;
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

a {
  font-size: 14px;
  color: var(--color-white);
  text-decoration: none;
}

p,
h4 {
  font-family: "Inter", sans-serif;
  line-height: var(--line-height);
  margin: 0;
  padding-left: 1rem;
  border-left: 2px solid var(--color-white-50);
}

blockquote {
  line-height: var(--line-height);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  line-height: var(--line-height);
  list-style: none;
  margin: 0;
  padding: 0;
}

.dot {
  color: var(--color-accent-orange);
}

.button {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  padding: 0.5rem 1.5rem;
  gap: 10px;
  background-color: var(--color-accent-blue);
  border-radius: var(--border-radius-medium);
}

.icon__item a {
  display: flex;
}
.icon__list {
  display: flex;
  gap: var(--gap-large);
}

.mail-icon,
.arrow-icon {
  display: flex;
}

.projects .button__container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.projects .button {
  display: inline-block;
}

textarea, input:not([type=submit], [type=checkbox], [type=radio]) {
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-secondary-400);
  border-radius: var(--border-radius);
  background-color: var(--color-primary-100);
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  margin-bottom: var(--gap-large);
  width: 100%;
}

input[type=submit] {
  background-color: var(--color-accent-400);
  color: var(--color-primary-400);
  padding: 1rem 2rem;
  font-family: var(--font-sans);
  text-decoration: none;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
}

.site-header {
  color: var(--color-white);
  position: fixed;
  width: 100%;
  z-index: 999;
}
.site-header--scroll {
  background-color: var(--color-blackish-blue);
}

.site-footer {
  padding: var(--section-padding) 32px 32px 32px;
  background-color: var(--color-blackish-blue);
  color: var(--color-white);
}
.site-footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.site-footer__inner .contact-info,
.site-footer__inner .mail__link a,
.site-footer__inner .phone,
.site-footer__inner .hero__buttons {
  font-size: 18px;
  font-weight: 900;
  margin-top: var(--gap-large);
  text-align: center;
}
.site-footer__inner .contact-info__text,
.site-footer__inner .mail__link a__text,
.site-footer__inner .phone__text,
.site-footer__inner .hero__buttons__text {
  font-size: var(--font-size-4);
  font-weight: 900;
}
.site-footer__inner .hero__buttons {
  display: inline-block;
}
.site-footer__inner .mail__link a {
  text-decoration: underline;
}
.site-footer__inner .copyright {
  font-size: 12px;
  margin-top: var(--section-padding);
  color: var(--color-white-50);
}

.hero,
.showcase,
.projects,
.testemonials {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: var(--section-padding) 0;
}

.hero__inner,
.showcase__inner,
.projects__inner,
.testemonials__inner {
  grid-column: inner;
}

.section__header {
  margin-bottom: var(--section-gap-inner);
}

.site-header__navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 32px;
  z-index: 99;
  transition: all 0.4s;
}

.menu__item--current {
  font-weight: 900;
}
.menu__item:hover, .menu__item--current {
  border-bottom: 2px solid var(--color-accent-orange);
}
.menu__list, .menu__container {
  display: flex;
  gap: 3rem;
}
.menu__container {
  gap: 5rem;
  align-items: center;
}

.menu-button {
  display: none;
}

.device-menu {
  display: none;
}

.device-menu {
  position: fixed;
  background-color: var(--color-blackish-blue);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
  display: none;
}

.device-menu .menu__list {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 3rem;
}

.device-menu .menu__link {
  font-size: var(--font-size-2);
}

.device-menu.open {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .menu__container {
    display: none;
  }
  .menu-button {
    display: block;
    border: none;
    background: none;
    z-index: 99;
    cursor: pointer;
  }
}
.hero {
  min-height: 100vh;
  background-image: url(/src/scss/assets/images/hero-bg.jpg);
  background-size: cover;
  position: relative;
  padding-top: 9rem;
}
.hero__content {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50%);
}
.hero__title {
  background: linear-gradient(90deg, rgb(229, 165, 0) 0%, rgb(24, 143, 223) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__desc, .hero__paragraph {
  color: var(--color-white);
  margin-bottom: var(--gap-content);
}
.hero__paragraph {
  color: var(--color-white-50);
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: var(--gap-content);
}
.hero__rightside img {
  max-width: 375px;
}
.hero__rightside .image__container {
  position: relative;
}
.hero__rightside .image__container .image__code,
.hero__rightside .image__container .image__ux {
  position: absolute;
  padding: 45px;
  border-radius: 100%;
  background-color: var(--color-blue-50);
}
.hero__rightside .image__container .image__code {
  top: -40px;
  right: -20px;
}
.hero__rightside .image__container .image__ux {
  bottom: -40px;
  left: -30px;
}
.hero .v-icon {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
.hero .v-icon {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-50%, -10px);
  }
}

@media screen and (max-width: 1024px) {
  .hero__content {
    flex-wrap: wrap;
  }
  .hero__rightside {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 800px) {
  .hero__title {
    font-size: 60px;
  }
  .hero__desc {
    font-size: 30px;
  }
}
@media screen and (max-width: 700px) {
  .hero__title {
    line-height: 1;
    padding-bottom: 2rem;
  }
  .hero__desc {
    font-size: 25px;
  }
}
@media screen and (max-width: 550px) {
  .hero__rightside img {
    width: 300px;
  }
}
.container {
  overflow: hidden;
}

.showcase p {
  border-left-color: var(--color-black-50);
  max-width: 750px;
}
.showcase__cards {
  display: flex;
  gap: var(--gap-content);
}

.projects {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  overflow: hidden;
  padding: var(--section-padding) 0 9rem;
}
.projects__inner {
  position: relative;
}
.projects .section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 6rem;
}
.projects .section__header h2 {
  white-space: nowrap;
}
.projects .swiper {
  position: relative;
}
.projects .swiper-slide__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .swiper-slide__image img {
  width: 100vw;
}
.projects .swiper-slide__description {
  margin-top: var(--gap-large);
}
.projects .swiper-slide__description .card__title {
  font-weight: 700;
}
.projects .swiper-arrow-prev, .projects .swiper-arrow-next {
  position: absolute;
  top: 50%;
  z-index: 50;
  transform: translateX(-50%);
  left: 0;
}
.projects .swiper-arrow-next {
  left: auto;
  transform: translateX(50%);
  right: 0;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: -50px;
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--section-gap);
  margin-bottom: var(--section-gap);
}
.client:last-of-type {
  margin-bottom: 0;
}
.client__paragraph {
  max-width: 30rem;
  font-style: italic;
  line-height: var(--line-height);
  margin-bottom: var(--gap-large);
}
.client__flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.client__container {
  border-left: 2px solid var(--color-black-50);
}
.client__container .client__name {
  font-weight: 700;
  font-size: var(--font-size-small);
}
.client__container .client__title {
  font-size: var(--font-size-small);
}
.client__container img {
  display: flex;
}
.client .client__image--small img {
  display: none;
}

@media screen and (max-width: 1024px) {
  .showcase__cards {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .swiper-arrow-prev,
  .swiper-arrow-next {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .client {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 550px) {
  .client__image {
    display: none;
  }
  .client .client__image--small img {
    display: block;
    max-width: 60px;
  }
  .projects .section__header {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
