@use 'responsive';

:root {

    // FONTS

    --font-headings: 'futura-pt-bold', sans-serif;
    --font-sans: 'Inter', sans-serif;

    // FONT-SIZE, HEIGHT & SCALE

    --font-size: 16px;
    --line-height: 1.5;
    --font-scale: 1.25;
    
    --font-size-small: calc(var(--font-size-1) / var(--font-scale));
    --font-size-1: var(--font-size);
    --font-size-2: calc(var(--font-size-1) * var(--font-scale));
    --font-size-3: calc(var(--font-size-2) * var(--font-scale));
    --font-size-4: calc(var(--font-size-3) * var(--font-scale));
    --font-size-5: calc(var(--font-size-4) * var(--font-scale));
    --font-size-6: calc(var(--font-size-5) * var(--font-scale));

    // COLORS

    --color-white: #FFF;
    --color-black: #222;

    --color-white-50: rgba(255 255 255 / 50%);
    --color-black-50: rgba(34 34 34 / 50%);
    --color-blue-50: rgba(79 94 117 / 50%);


    --color-light-blue: #4F5E75;
    --color-dark-blue: #2E3142;
    --color-navy-blue: #011A39;
    --color-deep-blue: #01132B;
    --color-blackish-blue: #0C0F18;

    --color-accent-blue: #188FDF;
    --color-accent-orange: #E5A500;


    // BORDER-RADIUS

    --border-radius-small: 5px;
    --border-radius-medium: 50px;
    --border-radius-large: 100%;


    // PADDING

    --padding-content: 2rem;
    --section-padding: 9rem;
    
    // GAPS

    --section-gap: 5rem;
    --section-gap-inner: 4.5rem;
    --gap-content: 2rem;
    --gap-large: 1rem;
    --gap-small: 0.75rem;

    // WIDTHS

    --full-width: 90rem;
    --grid-width: 86rem;
    --inner-width: 75rem;

    // GRID-CONTAINER
    
    --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr) [full-end]; 
    @include responsive.max(600px) {
        --section-padding: 6rem;
    }
}