h1, h2, h3, h4, h5, h6, a {
    font-family: var(--font-headings);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: var(--font-size-5);
    margin-bottom: 1rem;
}

h3 {
    font-size: var(--font-size-4);   
}

h4 {
    font-size: var(--font-size-3); 
}

h5 {
    font-size: var(--font-size-2); 
}

h6 {
    font-size: var(--font-size-1);
}

a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 500;
}

p,
h4 {
    font-family: "Inter", sans-serif;
    line-height: var(--line-height);   
    margin: 0;
    padding-left: 1rem;
    border-left: 2px solid var(--color-white-50);
}

blockquote {
    line-height: var(--line-height);  
}

ul {
    margin: 0;
    padding: 0;
}

li {
    line-height: var(--line-height);  
    list-style: none;
    margin: 0;
    padding: 0;
}

.dot {
    color: var(--color-accent-orange);
}