.hero,
.showcase,
.projects,
.testemonials {
    display: grid;
    grid-template-columns: var(--grid-container);
    padding: var(--section-padding) 0;
}

.hero__inner,
.showcase__inner,
.projects__inner,
.testemonials__inner {
    grid-column: inner;
}

.section__header {
    margin-bottom: var(--section-gap-inner);
}